<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{ fragments::head(#{website.name}) }">
    <meta charset="UTF-8">
    <title th:text="#{website.name}">OpenNat</title>
</head>
<body>
<!--/*@thymesVar id="results" type="org.springframework.data.domain.Page"*/-->
<div class="container">

    <div class="logos row">
        <div class="col-md-6 text-left">
            <img th:src="@{/images/logo-archive-nationale.png}"/>
        </div>
        <div class="col-md-6 text-right">
            <img th:src="@{/images/logo-open-nat-trans.png}"/>
        </div>
    </div>

    <h1 th:text="#{website.name}" class="text-center">OpenNAT</h1>

    <div class="row">
        <div th:each="r : ${results.content}" class="col-md-12 order-md-1">
            <a th:href="@{/result/{id}(id=${r})}"
               th:text="${r}">Results</a>
        </div>
    </div>
	
	<div th:text="#{website.details1}" class="text-justify"></div>
	<div th:text="#{website.details2}" class="text-justify"></div>

    <div class="row">

        <div class="col-md-12 order-md-1">
            <form th:method="get" th:action="@{/search}" th:object="${form}" class="needs-validation" novalidate>
                <div class="row">
                    <div th:replace="~{fragments::field('firstName', 'col-md-6 mb-3')}"></div>
                    <div th:replace="~{fragments::field('lastName', 'col-md-6 mb-3')}"></div>
                </div>
				
				<div class="row">
                    <div th:replace="~{fragments::field('localisation', 'col-md-6 mb-3')}"></div>
                </div>
				<div class="row">
                    <div th:replace="~{fragments::field('birthdate', 'col-md-6 mb-3')}"></div>
                </div>

                <div th:replace="~{fragments::field('username', 'mb-3')}"></div>

                <hr class="mb-4">
				
				<div class="row">
					<select name="nom" size="1">
						<option>Démarche administrative</option>
						<option>Démarche juridique</option>
						<option>Généalogie</option>
						<option>Autre</option>
					</select>
				</div>
				
				

                <button th:text="#{website.search}" class="btn btn-primary btn-lg btn-block" type="submit">
                    Search
                </button>
            </form>
        </div>
    </div>

</div>

<div th:replace="~{ fragments::footer }"></div>

</body>
</html>
